.hero-section {
  .carousel-item {
    position: relative;
    &::before {
      content: "";
      background: rgba($colorBlack, $alpha: 0.6);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  .hero-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  .hero-link a.btn.hero-btn {
    background: $colorYellow;
    border-radius: 50px;
    margin-top: 20px;
    border: 1px solid $colorYellow;
    padding: 10px 30px;
    font-weight: 600;
    transition: all 0.5s;
    &:hover {
      background: transparent;
      color: $colorWhite;
      border-color: $colorWhite;
    }
  }
  .hero-container .contents-hero {
    text-align: center;
    color: #fff;

    @include DeviceMaximum768 {
      padding: 0 50px;
    }
  }

  h6 {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 200;
    @include DeviceMaximum768 {
      font-size: 14px;
      letter-spacing: 3px;
    }
  }
  .hero-container .contents-hero h1 {
    font-weight: bold;
    font-size: 72px;
    text-transform: uppercase;
    font-weight: 800;
    @include DeviceMaximum768 {
      font-size: 28px;
    }
  }

  .hero-container .contents-hero h2 {
    font-size: 36px;
    text-transform: uppercase;
    @include DeviceMaximum768 {
      font-size: 24px;
    }
  }
  .carousel-item img {
    @include DeviceMaximum768 {
      height: 50vh;
      object-fit: cover;
    }
  }
  .carousel-indicators {
    @include DeviceMaximum768 {
      display: none;
    }
  }
  .carousel-control-prev-icon:after,
  .carousel-control-next-icon:after {
    width: 21px;
    height: 49px;
    @include DeviceMaximum768 {
      height: 25px;
    }
  }
  .carousel-indicators [data-mdb-target] {
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }
  .carousel-dark .carousel-indicators [data-mdb-target] {
    background-color: #fff;
  }
}
.carousel-control-prev-icon:after {
  color: #fff;
  background-image: url("../img/icons/left-arrow.png");
  content: "" !important;
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
}
.carousel-control-next-icon:after {
  color: #fff;
  background-image: url("../img/icons/right-arrow.png");
  content: "" !important;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
}
.carousel-dark .carousel-control-next-icon,
.carousel-dark .carousel-control-prev-icon {
  filter: none !important;
}
