.mt-large {
  padding-top: 7rem;
  @include DeviceMaximum768 {
    padding-top: 4rem;
  }
}

.mb-large {
  padding-bottom: 7rem;
  @include DeviceMaximum768 {
    padding-bottom: 4rem;
  }
}

.alfa {
  padding-top: 7rem;
  @include DeviceMaximum768 {
    padding-top: 4rem;
  }
}
.link-one a {
  background-image: $gradientOne;
  color: $colorWhite;
  border: 1px solid $colorPrimary;
  border-radius: 30px;
  transition: $transition04s;
  width: 200px;
  text-transform: uppercase;
  height: 40px;
  display: grid;
  place-content: center;
  font-weight: 600;
  @include DeviceMaximum768 {
    width: 160px;
    height: 40px;
    margin: auto;
  }
  &:hover {
    background: transparent;
    border: 1px solid $colorPrimary;
    color: $colorPrimary;
  }
}

.link-two a {
  background: $colorWhite;
  color: $colorTertiary;
  border: 1px solid $colorWhite;
  border-radius: 30px;
  transition: $transition04s;
  width: 200px;
  height: 60px;
  display: grid;
  place-content: center;
  margin: auto;
  @include DeviceMaximum768 {
    width: 160px;
    height: 40px;
    margin: auto;
  }
  &:hover {
    background: transparent;
    color: $colorWhite;
    border: 1px solid $colorWhite;
  }
}

.para-one {
  margin: 2rem 0;
  p {
    letter-spacing: 0.3px;
    line-height: 1.7;
  }
}
.space-one {
  margin-bottom: 5rem;
  @include DeviceMaximum576 {
    margin-bottom: 2rem;
  }
}

.space-three {
  margin-bottom: 3rem;
  @include DeviceMaximum576 {
    margin-bottom: 2rem;
  }
}

.borderOne{
  width: 10rem;
  height: 3px;
  background: $colorPrimary;
  margin-bottom: 20px;
  margin-top: 20px;
  @media screen and (max-width:991.9px){
    margin-bottom: 10px;
  }
}
.wrapper-img{
  overflow: hidden;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  &:hover{
    img{
      transform: scale(1.05) translateY(-3px);
    }
  }
  img{
    transition: $transition04s;
    border-radius: 10px;
  }
}

.owl-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  gap: 7px;
  button.owl-dot {
    background: $colorPrimary!important;
    border-radius: 50%;
    width: 6px;
    height: 6px;
    &.active{
      background: $colorSecondary!important;
    }
}
}
.owl-nav {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    margin-top: 20px;
    button span {
    color: #ffffff;
    font-size: 44px !important;
    visibility: hidden;
    line-height: 0.6;
    // opacity: 0;
    // display: none;
    position: relative;
  }

  

  button.owl-prev,
  button.owl-next {
    background: $colorPrimary !important;
    display: grid;
    height: 36px;
    width: 36px;
    place-content: center;
    i {
    color: #fff;
    font-size: 20px;
}
  }
  }