$colorPrimary: #11823b;
$colorSecondary: #51b854;
$colorTertiary: #333333;
$colorYellow: #ffbf46;
$colorPrimaryBG: #ebfff4;
$colorSecondaryBG: #f5fafe;
$colorWhite: #ffffff;
$colorBlack: #000000;
$transparent: transparent;
$footerbg: #545775;
$colorSearchbg: #666666;
$colorPink: #ff4340;
$colorFacebook: #1877f2;

$transition04s: all 0.4s;

$gradientOne: linear-gradient(40deg, $colorPrimary, $colorSecondary);
